body {
   background-color: rgb(243, 231, 213);
   font-family: "PT Root UI";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 150%;
  }

img {
    height: 300px;
}

.bayan {
    max-width: 800px;
    margin: 0 auto;
}

.bayan:hover {
    cursor: pointer;
}

.tab-title:hover {
    cursor: pointer;
    color: rgb(150, 123, 86);
}


.tab input,
.tab-content {
    display: none;
}

.tab {
    background: rgb(241, 208, 158);
    border-radius: 5px;
    margin-bottom: 10px;
    color: rgb(84, 63, 34);
}

.tab-title {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.tab-title::after {
    content: '+';
}

.tab-content {
    padding: 10px;
}

.tab :checked + .tab-title {
    background: rgb(169, 106, 12);
    color: rgb(230, 218, 202);
}

.tab :checked + .tab-title::after {
    content: '-';
}

.tab input:checked + .tab-title + .tab-content {
    display: block;
} 
